<!DOCTYPE html>
<html x-ng-app="tttApp">
<head>
	<title>Tic Tac Toe</title>
<link rel="stylesheet" href="css/style.css">
<script src="js/angular.min.js"></script>
<script src="https://cdn.firebase.com/v0/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
<script src="js/app.js"></script>
</head>

<body x-ng-controller="tttController">
	<div id="container">
		
		<h1>TIC TAC TOE</h1>
			<div id="playerOne">
				<p>Player One Score:</p> 
				<p>{{game.waiting}}</p>
				<p x-ng-bind="game.playerOneScore"></p>
			</div>
			<div id="playerTwo">
				<p>Player Two Score:</p>
				<p x-ng-bind="game.playerTwoScore"></p>
			</div>
			<div id="gameboard">
				<div class="cell" x-ng-repeat="c in game.cells track by $index" x-ng-click="makeMove($index);">{{c}}</div>
				<div class="clearRow"></div>
				<div id="result"></div>
				<button type="button" x-ng-click="game.clearBoard()">clear board</button>
				<button type="button" x-ng-click="game.clearScore()">clear score</button>
			</div>
			
			<div class="clearRow"></div>

	</div>
</body>
</html>